form{
    width: 50%;
    margin: 2% auto;
}

input{
    margin-top: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta para ocupar toda a tela */
}

img {
    max-width: 150px;
    margin-bottom: 20px;
}

.col-5 {
    width: 100%;
    max-width: 400px; /* Define um tamanho fixo para o formulário */
    text-align: center;
}